<div class="blog-article typo">
  <h3 class="blog-item--title">{{title}}</h3>
  <p class="blog-item--date">
    <i class="glyphicon glyphicon-time"></i>
    {{date}}
  </p>
  <p class="blog-item--author">{{author.nikname}}</p>
  <img class="blog-item--illu" src="{{cover}}" alt="" />
  {{{content}}}
</div>